{% extends 'base.html' %}

{% block title %}Bin collection days for {{ street.name }}{% endblock %}

{% block content %}

<h1>
    {{ street.name }} {{ street.partial_postcode }} bin collections
</h1>
<div class="mysoc-bin-main">

  {% for display_days in display_weeks %}  
    <ul class="mysoc-bin-week" id="mysoc-bin-week-{{ forloop.counter0 }}">
      {% for dd_date, dd_type in display_days %}
          <li class="mysoc-bin-day {% if dd_type %}mysoc-bin-collection-{{ dd_type|lower }}{% ifnotequal dd_type 'past' %} mysoc-bin-collection{%endifnotequal%}{% endif %}">
            <span class="mysoc-date">
              {% if show_dates %}{{ dd_date|date:"j" }}{% else %} &nbsp; {% endif %}
            </span>
            {% if show_dates %}
              {% ifchanged dd_date.month %}<span class="mysoc-month">{{ dd_date|date:"F" }}</span>{% endifchanged %}
            {% endif %}
            <span class="mysoc-dayname">{{ dd_date|date:"D"|upper }}</span>
            {% if dd_type %}
              {% ifnotequal dd_type 'past' %}<span class="mysoc-hidden">collection: {{ dd_type|upper }}</span>{% endifnotequal %}
            {% endif %}
          </li>  
      {% endfor %}    
    </ul>
  {% endfor %}

  <script src="/static/js/binalerts.js" type="text/javascript"></script>

  <hr class="mysoc-ie6-fixer"/>
  {% ifequal collection_days|length 0 %}
    <div class="mysoc-bin-summary">
      <p>
          There is no collection data available for this street.
      </p>
      <p class="mysoc-bin-collect-details">
          Please let us know, and we will investigate why we haven&rsquo;t got {{ street.name|default:'it' }} covered.
      </p>
    </div>
  {% else %}
    {% for collection_summary in collection_summaries %}
      <div class="mysoc-bin-summary mysoc-bin-summary-{{ collection_summary.bctype.friendly_id|lower }}">
        <p>
          {# note: tests expect this to be one one line in the generated HTML source #}
          <strong>{{ collection_summary.bctype.description}}</strong> collection {% ifequal collection_summary.when_array|length 1 %}day is{% else %}days are{% endifequal %} <strong>{{ collection_summary.when_array|join:" &amp; " }}</strong>.
        </p>
        <p class="mysoc-bin-collect-details">
            {{ collection_summary.bctype.detail_text|safe }}
        </p>
      </div>
    {% endfor %}
    <div class="mysoc-bin-form mysoc-bin-reminder-breakout">
      <p>
        <b>Want a reminder?</b>
        <br/>
        We can email you every week <i>the day before</i> we come to  {{ street.name }} to empty your bins.
      </p>
      <form method="post" action="" id="alert_form">
          {{ form.as_p }}
          <input type="submit" value="Subscribe" />
      </form>
    </div>
  {% endifequal %}  

  <div class="mysoc-bin-links">
    <h3>Help us to help you</h3>
    <p>
      Please put your bins out by 6:30am. The best place is usually on the boundary of your property, but don't block the pavement.
      If you park your car in the street, please think of our lorry drivers and leave them enough space to get&nbsp;through!
    </p>
    <p>
      More information about bins in Barnet:
    </p>
    <ul>
      <li>
        <a href="http://www.barnet.gov.uk/index/environment-planning/rubbish-waste-recycling.htm">rubbish, waste and recycling</a>
      </li>
      <li>
        <a href="http://www.barnet.gov.uk/index/environment-planning/rubbish-waste-recycling/waste-collection">missed collection?</a>
      </li>
    </ul>
  </div>
  
</div>

{% endblock %}




