.mysoc-bin-front, .mysoc-bin-main {
	font-size: 120%;	
}

.mysoc-bin-front {
	margin: 1em auto;
	text-align: center;
}

.mysoc-bin-title {
	font-size:140%;
	font-weight: bold;	
}	

.mysoc-bin-tagline {
	font-size:120%;	
}	

.mysoc-bin-form{
  border: 1px solid #34A3A4;
  background-color: #D8EBEB;
  padding: 1em 1em 1em 1em;
  margin: 1em 4em;
}
.mysoc-bin-form input{
  margin-top:0.5em;
}

.mysoc-bin-form p{
	margin: 0.5em 0;
}

.mysoc-suggestions{
	text-align:left;
	padding:0 0.5em 0 0.5em;
	margin: 0 auto;
}
.mysoc-suggestions h2{
	font-size: 100%;
	color: #34A3A4;
	border-bottom:none;
}

.mysoc-bin-summary{
	background-repeat: no-repeat;
	background-position: 10px 10px;
	padding:10px 0 0 60px;
	min-height: 50px;
} 

.mysoc-bin-summary-g{
	background-image: url(/static/images/wheeliebin.png)
}

.mysoc-bin-summary p{
	margin: 0;
}

.mysoc-bin-collect-details{
	display: block;
	margin: 0;
	font-size: 80%;
	background-image: url(http://barnet.fixmystreet.com/cobrands/barnet/images/arrow-green-small.gif);
	background-repeat: no-repeat;
	background-position: center left;
	padding-left: 12px;
}

.mysoc-bin-reminder-breakout{
    padding: 12px 12px 12px 80px;
	background-image: url(/static/images/lightbulb.png);
	background-position:10px 10px;
	background-repeat: no-repeat;
}
.mysoc-bin-reminder-breakout p{
	margin: 0.666em 0;
}

.mysoc-bin-summary {
	clear: both;
    font-size: 120%;
    margin: 1em 0 2em 0;
}

.mysoc-bin-week {
  position: relative; 
  margin: 12px auto;
  overflow:hidden;
}

.mysoc-bin-day {
  float:left;
  width: 12%;
  margin: 0 4px 0 0;
  text-align: center;
  padding: 100px 0 8px 0;
  font-weight:bold;
  font-size: 20px;
  background-color: #D8EBEB;
  border: 2% solid #ffffff;
  color: #ffffff;
  
}

.mysoc-bin-collection{
  background-color: #D8EBEB;
  color: #34A3A4;
  background-image: url(../images/wheeliebin.png);
  background-repeat: no-repeat;
  background-position:50% 46px;
}

.mysoc-bin-end {
  clear:both;
}

#mysoc-bin-lorry {
  position:absolute;
  top:10px;
  left:-100px;
  width: 176px;
  height: 86px;
  display: none;
  background-image: url(../images/lorry.png);
  background-repeat: no-repeat;
  background-position:0px 0px;
}

.mysoc-bin-links{
	margin: 4em 1em 0 2em;
}
.mysoc-bin-links ul{
	text-align: left;
	padding-left:2em;
}

.errorlist{
	text-align: left;
}
ul.errorlist li{
	background: url(../images/tiny_warning.png) no-repeat 0px 3px !important; /* force ovveride of #content ul li */
	padding-left: 20px;
}

/* dirty bit of hackery in response to empirical testing in IE6 <sigh> */
.mysoc-ie6-fixer{
  clear:both;
  height:1px;
  margin:-8px 0 0 0;
  color:#ffffff;
  border:0;
  background-color:#ffffff;
}
