/* overriding specifics in binarts styling */

.mysoc-bin-form{
  border: 1px solid #34A3A4;
  background-color: #D8EBEB;
}

.mysoc-suggestions h2{
	color: #34A3A4;
}

.mysoc-bin-collect-details{
	background-image: url(http://barnet.fixmystreet.com/cobrands/barnet/images/arrow-green-small.gif);
}

/* NB explicit qualification of these styles to force override of Barnet's #content ul li */
#content ul.mysoc-bin-week li.mysoc-bin-day {
  float:left;
  width: 13%;
  margin: 0 4px 0 0;
  text-align: center;
  padding: 0 0 0 0;
  font-weight:bold;
  font-size: 20px;
  border: 2% solid #ffffff;
  color: #ffffff;
  position: relative; /* contains mysoc-bin-date etc */
  background-image: none;
  background-color: #D8EBEB; /* Barnet */
}

#content ul.mysoc-bin-week li.mysoc-bin-collection-d   { background-image: url(/static/images/wheeliebin_d.png); }
#content ul.mysoc-bin-week li.mysoc-bin-collection-dg  { background-image: url(/static/images/wheeliebin_dg.png); }
#content ul.mysoc-bin-week li.mysoc-bin-collection-dr  { background-image: url(/static/images/wheeliebin_dr.png); }
#content ul.mysoc-bin-week li.mysoc-bin-collection-dgr { background-image: url(/static/images/wheeliebin_dgr.png); }
#content ul.mysoc-bin-week li.mysoc-bin-collection-g   { background-image: url(/static/images/wheeliebin_g.png); }
#content ul.mysoc-bin-week li.mysoc-bin-collection-gr  { background-image: url(/static/images/wheeliebin_gr.png); }
#content ul.mysoc-bin-week li.mysoc-bin-collection-r   { background-image: url(/static/images/wheeliebin_r.png); }

#content ul.mysoc-bin-week li.mysoc-bin-collection {
  background-color: #D8EBEB;
  color: #34A3A4;
  background-repeat: no-repeat;
  background-position:50% 70px;
}

.mysoc-bin-collection span.mysoc-dayname {
  background-color: #34A3A4;
  color: #ffffff;
}

#content ul.mysoc-bin-week li.mysoc-bin-collection-past, .mysoc-bin-collection-past span.mysoc-dayname {
  background: #fafafa;
  color: #ccc;
}

#mysoc-bin-lorry {
  background-image: url(../images/lorry.png); /* barnet-branded lorry, relative to this file */
}
