{% extends 'base.html' %}

{% block title %}Bin alerts{% endblock %}

{% block content %}

<h1>Bin alerts</h1>

<div class="mysoc-bin-main">
    
  <p>
    You have confirmed your alert, thanks.
    <br/>
    We'll send you an email <i>the day before</i> we come to empty your bin.
  </p>

  <p>
    More information about bins in Barnet:
  </p>
  <ul class="mysoc-bin-links">
    <li>
      <a href="http://www.barnet.gov.uk/index/environment-planning/rubbish-waste-recycling.htm">rubbish, waste and recycling</a>
    </li>
  </ul>
</div>
    
{% endblock %}

