{% extends 'base.html' %}

{% block title %}Check your email{% endblock %}

{% block content %}

<h1>Check your email .&nbsp;.&nbsp;.</h1>

<div class="mysoc-bin-main">
  <p>
    Thanks for signing up for bin collection reminders.
  </p>
  <p>
    Now check your email for a confirmation email
    containing a link to confirm your alert. It might take a few minutes
    &mdash; if you still do not receive one, please check your spam folder
    in case the message went there by mistake.
  </p>
  <p>
    If you don't click on the confirmation link we've just sent you, we won't send you
    any reminders.
  </p>
</div>
{% endblock %}

