{% extends 'base.html' %}

{% block title %}Check your email{% endblock %}

{% block content %}

<h1>Check your email .&nbsp;.&nbsp;.</h1>

<div class="mysoc-bin-main">
  <p>
    Thanks for signing up for bin collection reminders.
  </p>
  <p>
    Now check your email for the message we've just sent you.
    It might take a few minutes &mdash; if you still do not receive it, please check your spam folder
    in case it's gone there by mistake.
  </p>
  <p>
    Click on the link in the email to confirm that you've given us the right email address, and that's it!
  </p>
</div>
{% endblock %}

