{% extends 'base.html' %}

{% block title %}Bin collection days{% endblock %}

{% block content %}

<h1>Bin collection days</h1>


<form action="/" method="post">
    {{ form.query.errors }}
    <p>
        <label for="id_query"> Please type the name of your street: </label>
    </p>
    {{ form.query }}
    <input type="submit" value="Go" />
</form>

{% if streets %}
    <h2>Did you mean...</h2>
    <ul>
        {% for street in streets %}
            <li> <a href="{% url show_street street.street_url_name  %}">{{ street.street_name }} ({{ street.street_partial_postcode }})</a> </li>
        {% endfor %}
    </ul>
{% endif %}

{% endblock %}
