{% extends 'base.html' %}

{% block title %}Bin collection days{% endblock %}

{% block content %}

<h1>Bin collection days</h1>

<p>Please type the name of your street:</p>

<form action="/" method="post">
    {{ form.as_p }}
    <input type="submit" value="Go" />
</form>

{% if streets %}
    <ul>
        {% for street in streets %}
            <li> <a href="{% url show_street street.street_url_name  %}">{{ street.street_name }}</a> </li>
        {% endfor %}
    <ul>
{% endif %}

{% endblock %}
