{% extends 'base.html' %}

{% block title %}Bin collection days for {{ bin_collection.street_name }}{% endblock %}

{% block content %}

<h1>
    {{ bin_collection.street_name }} {{ bin_collection.street_partial_postcode }} bin collections
</h1>

<div class="mysoc-bin-week">
  <div id="mysoc-bin-lorry"></div>
  {% for dayname in daynames %}
    <div class="mysoc-bin-day {% ifequal forloop.counter0 bin_collection.collection_day %}mysoc-bin-collection{% endifequal %}"> 
    {{ dayname }}
    </div>
  {% endfor %}
</div>
<script type="text/javascript">
  var mySocCollectionDays = [{{bin_collection.collection_day}}];
</script>
<script src="/static/js/binalerts.js" type="text/javascript"></script>

<p class="mysoc-bin-summary">
    <strong>{{ bin_collection.get_collection_type_display}}</strong> collection day is <strong>{{ bin_collection.get_collection_day_display }}</strong>.
</p>

<p>
    Email me every week the day before my bins are collected:
</p>

<form method="post" action="" id="alert_form">
    {{ form.as_p }}
    <input type="submit" value="Subscribe" />
</form>


{% endblock %}
