{% extends 'base.html' %}

{% block title %}Bin collection days for {{ street.name }}{% endblock %}

{% block content %}

<h1>
    {{ street.name }} {{ street.partial_postcode }} bin collections
</h1>
<div class="mysoc-bin-main">

  {% for display_days in display_weeks %}  
    <div class="mysoc-bin-week">
      {% if forloop.first %}
        <div id="mysoc-bin-lorry"></div>
      {% endif %}
      {% for dd_date, dd_type in display_days %}
          <div class="mysoc-bin-day {% if dd_type %}mysoc-bin-collection-{{ dd_type|lower }} mysoc-bin-collection{% endif %}"> 
            <p class="mysoc-date">{{ dd_date|date:"j" }}</p>
            <p class="mysoc-dayname">{{ dd_date|date:"D"|upper }}</p>
          </div>  
      {% endfor %}    
    </div>
  {% endfor %}

  <script type="text/javascript">
    var mySocCollectionDays = [ {{ collection_days|join:", "}} ];
  </script>
  <script src="/static/js/binalerts.js" type="text/javascript"></script>

  <hr class="mysoc-ie6-fixer"/>
  {% ifequal collection_days|length 0 %}
    <div class="mysoc-bin-summary">
      <p>
          There is no collection data available for this street.
      </p>
      <p class="mysoc-bin-collect-details">
          Please let us know, and we will investigate why we haven&rsquo;t got {{ street.name|default:'it' }} covered.
      </p>
    </div>
  {% else %}
    {% for bin_collection_type, collection_day_array in collection_types_with_days %}
      <div class="mysoc-bin-summary mysoc-bin-summary-{{ bin_collection_type.friendly_id|lower }}">
        <p>
          {# note: tests expect this to be one one line in the generated HTML source #}
          <strong>{{ bin_collection_type.description}}</strong> collection {% ifequal collection_day_array|length 1 %}day is{% else %}days are{% endifequal %} <strong>{{ collection_day_array|join:" &amp; " }}</strong>.
        </p>
        <p class="mysoc-bin-collect-details">
            {{ bin_collection_type.detail_text|safe }}
        </p>
      </div>
    {% endfor %}
    <div class="mysoc-bin-form mysoc-bin-reminder-breakout">
      <p>
        <b>Want a reminder?</b>
        <br/>
        We can email you every week <i>the day before</i> we come to  {{ street.name }} to empty your bins.
      </p>
      <form method="post" action="" id="alert_form">
          {{ form.as_p }}
          <input type="submit" value="Subscribe" />
      </form>
    </div>
  {% endifequal %}  

  <div class="mysoc-bin-links">
    <h3>Help us to help you</h3>
    <p>
      Please put your bins out by 6:30am. The best place is usually on the boundary of your property, but don't block the pavement.
      If you park your car in the street, please think of our lorry drivers and leave them enough space to get&nbsp;through!
    </p>
  </div>
  
</div>

{% endblock %}
