{% extends 'base.html' %}

{% block title %}Bin collection days for {{ bin_collection.street_name }}{% endblock %}

{% block content %}

<h1>
    {{ street.name }} {{ street.partial_postcode }} bin collections
</h1>

<div class="mysoc-bin-main">

  <div class="mysoc-bin-week">
    <div id="mysoc-bin-lorry"></div>
    {% for dayname in daynames %}
      {# FIXME: note we're only looking at the first bin collection in this street, not all of them  #}
      {# FIXME use friendly_id here #}
      <div class="mysoc-bin-day {% ifequal forloop.counter0 bin_collections.0.collection_day %}mysoc-bin-collection{% endifequal %}"> 
      {{ dayname }}
      </div>
    {% endfor %}
  </div>
  <script type="text/javascript">
    var mySocCollectionDays = [{{bin_collections.0.collection_day}}];
  </script>
  <script src="/static/js/binalerts.js" type="text/javascript"></script>

  {# later... iterate over collection types here (ideally in day-of-week order?) #}
  <hr class="mysoc-ie6-fixer"/>
  <div class="mysoc-bin-summary mysoc-bin-summary-{{ bin_collections.0.collection_type|lower }}">
    <p>
      <strong>{{ bin_collections.0.get_collection_type_display}}</strong> collection day is <strong>{{ bin_collections.0.get_collection_day_display }}</strong>.
    </p>
    {% ifequal bin_collections.0.collection_type 'G' %}
      <p class="mysoc-bin-collect-details">
          for grass cuttings, vegetable, meat and fish, egg shells .&nbsp;.&nbsp;. 
          <a href="http://www.barnet.gov.uk/index/environment-planning/rubbish-waste-recycling/green-garden-kitchen-waste">more&nbsp;details</a>
      </p>
    {% endifequal %}
  </div>

  <div class="mysoc-bin-form mysoc-bin-reminder-breakout">
    <p>
      <b>Want a reminder?</b>
      <br/>
      We can email you every week <i>the day before</i> your bins are collected.
    </p>
    <form method="post" action="" id="alert_form">
        {{ form.as_p }}
        <input type="submit" value="Subscribe" />
    </form>
  </div>

  <div class="mysoc-bin-links">
    <h3>Help us to help you</h3>
    <p>
      Please put your bins out by 6:30am. The best place is usually on the boundary of your property, but don't block the pavement.
      If you park your car in the street, please think of our lorry drivers and leave them enough space to get&nbsp;through!
    </p>
    <p>
      More information about bins in Barnet:
    </p>
    <ul>
      <li>
        <a href="http://www.barnet.gov.uk/index/environment-planning/rubbish-waste-recycling.htm">rubbish, waste and recycling</a>
      </li>
      <li>
        <a href="http://www.barnet.gov.uk/index/environment-planning/rubbish-waste-recycling/waste-collection">missed collection?</a>
      </li>
    </ul>
  </div>
  
</div>

{% endblock %}
